/* 
    Document   : dashboard.css
    Created on : Sept 2, 2011, 10:20:23 AM
    Author     : awilliams
    Description:
        This stylesheet formats the dashboard of the rootlessme website.
*/

/*I.D. Fragment Formatting & Styles*/

#rideSection {
    float: left;
    background-color: #F4F4F4;
    width: 465px;
    height: 100%;
    padding: 0px 0px 0px 15px;
}

#quickRidesBox {
    float: right;
    background-color: #F4F4F4;
    margin-left: 15px;
    width: 200px;
    height: 100%;
    padding: 0px 0px 0px 15px;
}

#feedSection {
    margin-top: 15px;
    float: left;
    background-color: #F4F4F4;
    width: 465px;
    height: 600px;
    padding: 0px 0px 0px 15px;
}

#rideInformationDashLeft {
    float:left;
    background-color: #3d3d3d;
    margin-bottom: 15px;
    width: 200px;
    height: 210px;
    display: inline;
    
}

#rideInformationDashRight {
    float:left;
    margin-left: 15px;
    background-color: #3d3d3d;
    width: 200px;
    height: 210px;
    display: inline;
}

#quickBoxItem {
    margin-bottom: 15px;
    float: left;
    background-color: #E5E5E5;
    width: 185px;
    height: 100px;
}