/* 
    Document   : dashboard.css
    Created on : Sept 2, 2011, 10:20:23 AM
    Author     : awilliams
    Description:
        This stylesheet formats the dashboard of the rootlessme website.
*/

/*I.D. Fragment Formatting & Styles*/


#rideSection {
    float: left;
    background-color: #F4F4F4;
    width: 520px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

.rideCont {
    height: 60px;
    color: #119D49;
    font-size: 110%;
    font-style: oblique;   
    background-color: #E5E5E5;
    padding: 10px 10px 10px 10px;
}

.dateCont {
    
    float: left;
    width: 46px;
    height: 46px;
    background-color:#E5E5E5;
    margin: 2px 10px 2px 2px;
}

.monthCont {
    width:100%;
    height:13px;
    background-color: #D3D3D3;
    color: #000000;
    font-size: 70%;
    text-align: center;
    padding-top: 2px;
}

.locationCont {
    width: 100%;
    height: 60px;
    color: #119D49;
    font-size: 110%;
    font-style: oblique;   
    
}

.dayCont{
    width:100%;
    height:20px;
    background-color: #8E8E8E;
    color: #000000;
    font-size: 100%;
    text-align: center;
    padding-top: 2px;
}

.timeCont{
    width:100%;
    height:13px;
    background-color: #D3D3D3;
    color: #000000;
    font-size: 70%;
    text-align: center;
    padding-top: 2px;
   
}

#rideInformationDashLeft {
    float:left;
    margin-left: 15px;
    margin-bottom: 50px;
    width: 230px;
    display: inline;
    
}

#rideInformationDashRight {
    float: left;
    margin-left: 15px;
    margin-bottom: 50px;
    width: 230px;
}

.ridesList {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

.ridesListItem {
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    background-color: #E5E5E5;
}

.seatsList {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}

.seatsListItem {
    margin: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
    border-top: 1px solid #8E8E8E;
}

#quickBoxItem {
    background-color: #E5E5E5;
    width: 180px;
    height: 97px;
    padding: 10px 10px 10px 10px;
}

#quickBoxName {
    color: #8e8e8e;
    font-weight: lighter;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 90%;
}

#quickBoxLocationStart {
    color: #8e8e8e;
    font-weight: lighter;
    margin: 10px 0px 0px 0px;
    font-size: 75%;
}

#quickBoxLocationFinish {
    color: #8e8e8e;
    font-weight: lighter;
    margin: 3px 0px 0px 0px;
    font-size: 75%;
}

#quickBoxConfirmButton a:link {
    color: white;
    
}

#quickBoxConfirmButton a:visited {
    color: white;
    
}

#quickBoxConfirmButton {
    
    margin: 10px 0px 5px 0px;
    background-color: #119D49;
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 3px 5px 3px 5px;
    width: 48px;
    font-size: 85%;
}

#quickBoxDeclineButton a:link {
    color: white;
    
}

#quickBoxDeclineButton a:visited {
    color: white;
    
}

#quickBoxDeclineButton {
    display: inline;
    float: left;
    margin: -23px 0px 0px 68px;
    background-color: #8e8e8e;
    color: white;
    padding: 3px 5px 3px 5px;
    width: 44px;
    font-size: 85%;
    clear: right;

}

#quickBoxViewRequestButton {
    color: #D05A36;
    font-size: 80%;
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px -1px 0px;
    font-style: italic;
    
    
}

.viewRideLink{
    color: #8e8e8e;
    font-size: 60%;
}