/*
    Document   : rootlessme.css
    Created on : Mar 6, 2011, 1:44:43 PM
    Author     : awilliams
    Description:
        Stylesheet for the format of the rootlessme website.
*/


body {
    font-family: Arial, Geneva, sans-serif;
    font-size: 80%;
    margin: 0px;
    background-image: url("../images/headerBackground.jpg");
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    color: #3D3D3D;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

.clearfix {
    clear:both;
}

.hide {
	display: none;
}

.green {
	color: #119D49 !important;
}

.composeNew textarea {
    font-family: Arial, Geneva, sans-serif;
    font-size: 100%;
    width: 500px;
    height: 200px;
    border: 1px solid #999;
    outline: none;
    resize: none;
}

textarea {
    resize: none;
    font-family: Arial, Geneva, sans-serif;
    font-size: 100%;
}


.userInputForm {
    background-color: #F4F4F4;
    padding: 0px 10px 0px 0px;
    border: 1px solid transparent;
}

.hidden {
    display: none;
}

:focus {
    
    outline-color: #119D49;
}

#container {
    width: 960px;
    margin-top: 0px;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;
}

#bottomFeed {
    opacity: .8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 38px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    z-index: 1000;
}
#ridingNow {
    margin-left: 200px;
    padding-top: 4px;
}

#footerLink {
    text-align: right;
    font-weight: lighter;
    font-size: 90%;
    color: #B59F85;
    float: right;
    padding: 5px 5px 0px 0px;
}

#copyRight {
    text-align: right;
    font-weight: lighter;
    font-size: 85%;
    clear: both;
    color: #B59F85;
    float: right;
    display: block;
    padding: 2px 5px 5px 0px;
}


#footerLink a:link, #footerLink a:visited{
    text-align: right;
    font-weight: lighter;
    color: #B59F85;
    padding: 2px 5px 0px 0px;
}

#footerLink a:hover{
    text-align: right;
    font-weight: lighter;
    color: #FFFFFF;
    padding: 2px 5px 0px 0px;
    
}
#containerFront {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow: hidden;
}

.home {

    background-image: none;
}

.home #container {
    
    overflow: hidden;
    width: auto;
}

.home #header {
    margin: 0 auto;
    min-width: 300px;
    max-width: 1050px;
}

.home #content {
    margin-bottom: 15px;
    padding-left: 5px;
}

.home #middleContentFront {
    position: relative;
    min-width: 300px;
    max-width: 1050px;
    margin: 0 auto;
    
}


.home .signUpText tr {
    width: 190px;
    float: left;
    font-family: Arial;
    
}
.home .signUpText td,.home .signUpText th {
    
    width: 190px;
    clear: both;
    float: left;
    text-align: left;
}

.home .signUpText tfoot input {
    width: 45px;
    color: #E8E9E9;
    height: 20px;
    background-color: #119D49;
    border: 0;
    float: right;
    font-style: italic;
 
}

.home .signUpText tfoot input:hover {
    cursor: pointer;
    background-color: #D05A36;
}


.home .signUpText label{
    font-weight: normal;
    color: #E8E9E9;
    font-size: 14px;
}



.home .signUpText input{
    width: 190px;
    height: 18px;
    font-family: Arial;
    margin-bottom: 5px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #444;
    background-color: #E8E9E9;
    border: 1px #3D3D3D solid;
    position: relative;
    
}


.home #rideSearchForm input[type='text']{
  z-index: 1000;
  position: relative;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: #ccc;
  margin-top: 10px;
  left: 55px;
  width: 155px;
  margin-right: 10px;
}

.home #rideSearchForm input[type='text']:focus{
  color: #444;
 
}

.home #loginFormContainerB input[type='text'], .home #loginFormContainerB input[type='password'] {
 color: #ccc;
}

.home #loginFormContainerB input[type='text']:focus, .home #loginFormContainerB input[type='password']:focus {
 color: #444;
}


.homeControl {
    position: relative;
}

.plusSign {
    font-size: 36px;
    color: #119D49;
    top: 6px;
    left: 18px;
    position: absolute;
    z-index: 100;
}

.opaqueBg {
    background-color: #1F141A;
    color: #FFFFFF;
    font-weight: lighter;
    opacity: 0.3;
    width: 238px;
    height: 56px;
    left: 0;
    position: absolute;
    border: 1px solid #575656;
    
}

.home #rideSearchForm tbody td {
    position: relative;
}

.home #loginFormContainer input[type="text"], .home #loginFormContainer input[type="password"]
{
    border: 1px #3D3D3D solid;
    width: 130px;
    height: 17px;
    padding: 2px 0px 2px 4px;
}

.home #loginFormContainer {
    margin-right: 10px;
    position: absolute;
    right: 0;
    margin-top: -109px;
    width: 345px;
}

.home .locExamp {
    position: absolute;
    left: 65px;
    top: 30px;
    z-index: 1111;
    font-size: 17px;
    color: #ccc;
}

.home #loginFormContainer label, .home #loginFormContainerB label {
 
    display:none;
}

.home #loginFormContainerB tfoot a:link, .home #loginFormContainerB tfoot a:visited  {
    float: left;
    position: relative;
    top: -4px;
    color: #CCC;
    top: 10px;

}

.home #loginFormContainerB tfoot a:hover {
    text-decoration: underline;
}

.home #loginFormContainer label[for='signin_remember'] {
    
    display: block;
    font-weight: normal;
    left: 25px;
    position: absolute;
    top: 33px;
    
}

.home #loginFormContainerB label[for='signin_remember'] {
    
    display: block;
    font-weight: normal;
    padding-top: 5px;
    margin-bottom: 20px;
    
}

.home #loginFormContainer input[type='checkbox'] {
    
    position: absolute;
    left: 2px;
    top: 30px;
}

.home #loginFormContainer tfoot input {
    color: #fff;
    font-family: Arial;
    background-color: #444;
    border: 0;
    font-size: 14px;
    font-style: italic;
    padding: 2px 4px 3px;
    cursor: pointer;
}

.home #loginFormContainer tfoot a:link, .home #loginFormContainer tfoot a:visited {
    position: absolute;
    top: 33px;
    left: 150px;
    color: #119D49;
}

.home #loginFormContainer tfoot a:hover {
    text-decoration: underline;
    
}

.notMemberTransparency {
    position: relative;
    z-index: 100;
}


.home #loginFormContainer form {
  width: 345px;
}

.home #loginFormContainer form table {
    width: 100%;
    display: inline;
}

.home #loginFormContainer form table tbody, .home #loginFormContainer form table tfoot {
    display: inline;
}

.home #loginFormContainer form table tr {
    float: left;
    margin-right: -5px;
}

.home #loginFormContainer tfoot input:hover {
    background-color: #666;

}  

.home #loginFormContainer form span.signin_username, .home #loginFormContainer form span.signin_password {
    left: 13px;
    position: absolute;
    top: 7px;
    color: #ccc;
    cursor:text;
    
}

.home #loginFormContainerB input {
    position: relative;
    z-index: 100;
    font-size: 17px;
    padding: 5px;
    margin-bottom: 20px;
}

.home #loginFormContainerB input[type='submit'] {
    float: right;
    margin-left: 35px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
} 

.home #loginFormContainerB input[type='text'], .home #loginFormContainerB input[type='password'] {
    position: relative;
    z-index: 100;
    font-size: 17px;
    padding: 5px;
    margin: 11px 8px 20px 15px;
    width: 195px;
}

.home #loginFormContainerB span.signin_username_b, .home #loginFormContainerB span.signin_password_b {
    left: 18px;
    position: absolute;
    top: 30px;
    font-size: 17px;
    color: #ccc;
    cursor:text;
    z-index: 101;
    
}

.home #loginFormContainerB form {
    margin-top: -5px;
}

.home #rideSearchForm {
    padding-left: 25px;
    margin-left: 25px;
    float: left;
}

.loginText table th label {
    display: none;
}

.loginText table tr {
    float: left;
}

.loginText table th label[for='signin_remember'] {
    display: block;
}

@media screen and (max-width: 640px) {
    body {
        background-color: #eee;
    }
    
    .frontPageContent p {
        color: #fff;
    }
    
    .frontPageContent {
        float: left;
    }
    
.home #loginFormContainer {
    float:left;
    padding-bottom: 40px;
    position: relative;
    width: 345px;
    margin-top: 0px;
    padding-bottom: 35px;
}

.home #middleContentFront {
    float: left;
}

.sideImages, .sideImagesL {
    display: none;
}

.home #loginFormContainer form table tbody, .home #loginFormContainer form table tfoot {
    display: block;

}

.home #loginFormContainer form table tr {
    
    float: none;
}

.home #loginFormContainer tfoot input {
    margin-left: 6px;
}

.home #loginFormContainer label[for="signin_remember"] {
    color: #E8E9E9; 
    left: 82px;
    top: 68px;
}

.home #loginFormContainer input[type="checkbox"] {
    left: 62px;
    top: 65px;
}

.home #loginFormContainer tfoot a:link, .home #loginFormContainer tfoot a:visited {
    display: none;
}

.home #loginFormContainer form span.signin_password {
   
    left: 7px;
    position: absolute;
    top: 6px;
}

.home #loginFormContainer label[for='signin_remember']{
    position: absolute;
    color: #444;
    
}   

#bottomFeed {
    
    height: 50px;
}

.home #content {
    
    margin-bottom: 50px;
}


#ridingNow {
    
    margin-left: 15px;
    float: left;
}

#copyRight {
    margin-left: 15px;
    float: left;
    clear: left;
}

.home #loginFormContainerB {
    margin-left: 25px !important;
    margin-top: 45px;
    color: white;
    position: relative;
    width: 350px;
    font-weight: lighter;
    border-left: 1px solid #CEBEA9;
    padding-left: 25px;
    float: left;
}

#bottomFeed {
    position: relative;
}

#copyRight {
    margin-left: 15px;
    padding-right: 9px;
    float: right;
}
    
#backgroundImage {
    position: relative !important;
    float: right
}

.home #rideSearchForm {
    border-left: 0 none;
    padding-left: 0px;
    margin-left: 5px;
    float: left;
    margin-top: 40px;
}

.home #loginFormContainerB {
    margin-left: 5px !important;
    color: white;
    position: relative;
    width: 350px;
    font-weight: lighter;
    border-left: 0 none !important;
    padding-left: 0px !important;
    float: left;
}

}

@media screen and (max-width: 500px) {
   
    
    .frontPageContent p {
    width: 200px;
    float: left;
    }
    
     


}
#footerPages {
    font-size: 110%;
    background-color: #F4F4F4;
    width: 538px;
    padding: 15px 15px 15px 15px;
}
#footerSignature {
    font-weight: bold;
}
#footerLineBreak{
    padding-left: 22px;
}

#backgroundImage {
    top: 0;
    right: 0;
    position:fixed;
    min-width:100%;
    min-height:100%;   
}


#header {
    color: #FFFFFF;
    vertical-align: middle;
    height: 62px;
    position: relative;
    z-index: 1000;
}

#headerLogin {
    width: 960px;
    z-index: 1000;
}

#headerControls {
    float: right;
    vertical-align: bottom;
    position: absolute;
    bottom: 18px;
    right: 10px;
}

#headerSearchForm {
    position: absolute;
    bottom: 27px;
    margin: 0px 0px 0px 60px;
    display: inline;
}

#searchInput
{
    background-image: url("../images/searchBar.png");
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 12px;
    color: #ABABAB;
    font-weight: bold;
    border: none;
    outline: 0;
    height: 26px;
    width: 227px;
    padding: 0px 36px 0px 15px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#searchInput:focus, .searchPeople:focus {
    
    color: #212121;
}

#searchButton {
    border-width: 0px;
    margin: 0px;
    padding: 0px 5px 0px 8px;
    background: url(../images/magni_glass.png) transparent no-repeat top left;
    cursor: pointer;
    height: 24px;
}

.magnifyingIcon {
    background: url(../images/messageSmall.jpg) transparent no-repeat top left;
    height: 18px;
    width: 18px;
}


/* Menu CSS styling modelled after the example at
 * http://javascript-array.com/scripts/jquery_simple_drop_down_menu/
 */

#headerControlsList {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.headerControlsListItem {
    float: left;
    margin: auto;
    line-height: 35px;
    list-style: none;
}

.headerControl {
    color: #3D3D3D;
    text-decoration: none;
    padding: 7px 6px 0px 6px;
    display: block;
    white-space: nowrap;
 
}

.headerControl:hover{
   background-color: #f5f5f5;
}



.headerControlsListSublist {
    float: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    visibility: hidden;
    top: 45px;
    border-top: 1px solid #fff;
}

.headerControlsListSublist.inboxView {
    float: none;
    position: absolute;
    visibility: hidden;
    top: 45px;
    right: 137px;
}

.headerControlsListSublistItem
{
    float: none;
    display: block;
    background-color: #F4F4F4;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #fff;
    line-height: normal;
}

.headerSublistControl
{
    display: block;
    color: #3D3D3D;
    background: #EDEDED;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height: 10px;
}

.inboxView .headerSublistControl
{
    display: block;
    color: #3D3D3D;
    background: #EDEDED;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height: 53px;
}

.headerSublistControl:hover
{
    background: #F5F5F5;
}

.inLink {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #EDEDED;
    border-bottom: 2px solid #ccc;
}

.inLink a:link, .inLink a:visited {
    font-style: italic;
    color: #059B41;
    font-size: 10pt;
}

.inLink a:hover {

    text-decoration: underline;
}


#headerLogo {
    border-width: 0;
}

#content {
    clear: both;
}

#leftColumn {
    width: 211px;
    float: left;
    background: #FFFFFF;
}

#navigation {
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



.navigationItem {
  list-style: none;
  color: #3D3D3D;
  font-weight: normal;
  font-size: 175%;
  height: 35px;
  text-align: left;
  margin: -2px 28px 2px 0px;
  padding: 0px 14px 0px 0px;
  background-image: url("../images/navigationBackground.jpg");
  background-repeat: no-repeat;
}

.navigationItem:link, .navigationItem:visited  {
  list-style: none;
  color: #3D3D3D;
  background-image: url("../images/navigationBackground.jpg");
  background-repeat: no-repeat;
}

.navigationItem:hover {
    color: #3D3D3D;
    background-image: none;
    background-color: #ccc;
    background-image: url("../images/navigationBackground_rollover.jpg");
}


.navigationItemSelected {
  list-style: none;
  color: #3D3D3D;
  font-weight: normal;
  font-style: italic;
  font-size: 175%;
  height: 35px;
  text-align: left;
  margin: -2px 0px 2px 0px;
  padding: 0px 6px 0px 0px;
  background-image: url("../images/activeNav.png");
  background-repeat: no-repeat;
}

.navigationItemLink {
  padding: 4px 0px 0px 10px;
  color: #3D3D3D;
  display: block;
  width: 100%;
}

#leftContent {
    background-color: #F4F4F4;
    margin-top: 40px;
    background-repeat: repeat-y;
    width: 159px;
    padding: 12px 12px 12px 12px;
}

.leftProfilePicture {
    font-weight: bold;
    float: left;
    margin: 0px 6px 6px 0px;
}

#leftProfileName {
    color: #119D49;
    font-weight: bold;
    font-size: 90%;
}

#leftProfileLocation {
    color: #3d3d3d;
    font-style: italic;
    font-size: 80%;
}

#leftProfileViewLink {
    font-style: normal;
    font-size: 80%;
    color: #3D3D3D;

}

.leftWidget {
    margin: 0px 0px 20px 0px;
    clear: both;
}

.leftWidgetTitle {
    font-weight: bold;
    font-size: 90%;
    margin: 0px 0px 0px 0px;
}

#leftActionsList {
    margin: 0;
    padding: 0;

}

.leftActionItem {
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.travelingWith {
    color: #119D49;
}

.leftActionButton {
    width: 155px;
    height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

.leftActionFont {
    font-weight: normal;
}

#leftActivity {
    margin: 10px 0px 0px 0px;
}

#leftActivityList {
    margin: 10px 0px 20px 0px;
    padding: 0;
}

.leftActivityItem {
    list-style: none;
    margin: 10px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
    clear: left;
}

.leftActivityLink {
    font-style: italic;
    color: #D05A36;
    font-weight: bold;
    text-decoration: none;
}

#leftEventList {
    margin: 0;
    padding: 0;
}

.leftEventItem {
    clear: both;
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftEventName {
    color: #119D49;
    font-weight: bold;
    font-size: 110%;
    font-style: italic;
    margin: 4px 0px 4px 0px;
}

.leftEventLocation {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftEventDateImage {
    float: left;
    margin: 0px 6px 0px 0px;
}

#leftRideList {
    margin: 0;
    padding: 0;
}

.leftRideItem {
    clear: both;
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftRideName {
    color: #119D49;
    font-weight: bold;
    font-size: 110%;
    font-style: italic;
    margin: 4px 0px 4px 0px;
}

.leftRideLocation {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftRideViewLink {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftRideDateImage {
    float: left;
    margin: 0px 6px 0px 0px;
}

#rightColumn {
    width: 200px;
    float: right;
    background: #FFFFCC;
}

#middleContent {
    margin-left: 230px;
    margin-right: 10px;
    margin-top: 0px;
}

#middleContentFrontPage {
    margin-right: 10px;
    margin-top: 0px;
}
#footer {
    clear: both;
    padding: 20px 0px 20px 0px;
}
#footerFront {
    margin-top: 50px;
    clear: both;
    padding: 20px 0px 20px 0px;
    color: #FFFFFF;
}

#footerFront:link {
    margin-top: 100px;
    clear: both;
    padding: 20px 0px 20px 0px;
    color: #FFFFFF;
}

#footerBar {
    color: #3D3D3D;
}


#loginFormContainer{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 240px;
    z-index: 1001;
}

.home .sideImages {
    position: absolute;
    left: -1px;
}

.home .sideImagesL {
    position: absolute;
    left: -28px;
    top: 0px;
}

.home #loginFormContainerB {
    margin-left: 57px;
    color: #FFFFFF;
    position: relative;
    width: 350px;
    font-weight: lighter;
    border-left: 1px solid #cebea9;
    padding-left: 25px;
    float: left;
}

.home #rides_find {
    float: right;
    padding: 10px;
    font-size: 20px;
}

.home #signUpFormContainer{
   
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    position: relative;
    width: 250px;
    margin-top: 2px;
    font-weight: lighter;
    border-left: 1px solid #cebea9;
    padding-left: 25px;
    float: left;
}

.frontLabelText {
    color: #d56f3e;
    font-size: 36px;
    font-weight: normal;
    text-align: left;
    width: 400px;
}

.home #rideSearchForm th {
    text-align: left;
    width: 90px;
    padding-top: 25px;
}

.home #rideSearchForm tfoot th {
    text-align: left;
    width: 335px;
    padding-top: 25px;
}

.loginText table tfoot tr td {
   width: 335px;
}

.home #rideSearchForm label[for="rides_origin"], .home #rideSearchForm label[for="rides_destination"] {
    color: #d56f3e;
    font-size: 36px;
    font-weight: normal;
    font-family: Arial, Helvetica, san-serif;
    text-transform: lowercase;
}

.frontPageContent {
    padding: 0px;
    color: #ffffff;
    margin-top: 50px;
}

.frontPageContent p {
    font-size: 300%;
    min-width: 400px;
    max-width: 815px;
    padding: 12px 5px;
    margin: 25px 0px;
    font-weight: bold;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.6);
}

.signUpText {
   color:#FFFFFF;
   position: relative;
   z-index: 10;
   display: block;
   margin-left: -7px;
}

.flash_notice {
    padding: 10px;
    background-color: #FFFFCC;
    font-weight: bold;
}

.flash_error {
    padding: 10px;
    background-color: #CC0033;
    font-weight: bold;
    color: #FFFFFF;
}

.actionLink {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    color: #D05A36;
}

.seeMoreLink {
    color: #119D49;
    font-style: italic;
    margin: 0px 0px 0px 0px;
}

.locationLink{
    color: #119D49;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.dateBlockLarge {
    width: 55px;
    color: black;
    background-color: #D3D3D3;
    text-align: center;
}

.dateBlockMonth {
}

.dateBlockDate {
    font-weight: bold;
    font-style: italic;
    font-size: 180%;
    background-color: #E5E5E5;
}

.dateBlockTime {
    font-size: 80%;
}

.watermark {
    color: #606060;
}

.tableRow {
    background-color: #E3E3E3;
}

.tableAltRow {
    background-color: #FFFFFF;
}

.selectedRow {
    color: #FFFFFF;
    background-color: #393C39;
    cursor: pointer;
}

.tableLink {
    color: #3D3D3D;
}

.selectedRow  .tableLink {
    color: #FFFFFF;
}

.personLink {
    color: #119D49;
    font-style: italic;
}


/* jquery ui styling */

#middleProfileDetails.ui-state-default, #middleProfileDetails.ui-widget-content .ui-state-default, #middleProfileDetails.ui-widget-header .ui-state-default { 
    border: 0; 
    background: url(../../images/messageTabSprite.png) no-repeat;
    height: 18px; 
    width: 90px; 
    background-position: top left; 
    font-weight: normal; 
    color: #555555; 
}

#middleProfileDetails.ui-state-default a, #middleProfileDetails.ui-state-default a:link, #middleProfileDetails.ui-state-default a:visited { 
    color: #555555; 
    text-decoration: none; 
}
#middleProfileDetails.ui-state-hover, #middleProfileDetails.ui-widget-content .ui-state-hover, #middleProfileDetails.ui-widget-header .ui-state-hover, #middleProfileDetails.ui-state-focus, #middleProfileDetails.ui-widget-content .ui-state-focus, #middleProfileDetails.ui-widget-header .ui-state-focus{ 
    background: url(../../images/messageTabSprite.png) no-repeat; 
    background-position: 0px -18px; 
    font-weight: normal; 
    color: #212121; 
}
#middleProfileDetails.ui-state-hover a, #middleProfileDetails.ui-state-hover a:hover  { 
    color: #212121; 
    text-decoration: none; 
}
#middleProfileDetails.ui-state-active, #middleProfileDetails.ui-widget-content .ui-state-active, #middleProfileDetails.ui-widget-header .ui-state-active{ 
        background: url(../../images/messageTabSprite.png) no-repeat;
        background-position: bottom left; 
        font-weight: normal; 
        color: #E0E0E0; 
}
#middleProfileDetails.ui-state-active a, #middleProfileDetails.ui-state-active a:link, #middleProfileDetails.ui-state-active a:visited { 
        color: #E0E0E0; 
        text-decoration: none; 
}
#middleMessageDetails.ui-widget :active, #middleProfileDetails.ui-widget :active { outline: none; }


/* end jquery ui styling */


.headerSubmit {
    text-indent:  -9999px;
    background: url('../images/search_magni.png') no-repeat top left;
    height: 26px;
    width: 28px;
    outline: none;
    border: 0;
    margin-left: -39px;
    margin-top: 1px;
}

.headerSubmit:hover {
   background-position: bottom left;
   cursor: pointer;
}


#footer a:link {
    
    color: #119D49;
    
}

#footer a:visited {
    
    color: #777;
}

#footer a:hover {
    
    text-decoration: underline;
    
}

.headerControlsListSublistItem {
    
    display: inline-block;
    width: 137px;
    right: 135px;
    float: left;
}

.inboxView .headerControlsListSublistItem {
    
    display: inline-block;
    width: 275px;
    right: 135px;
    float: left;
}

.quickViewImage {
    float:left;
    
}

.quickViewInfo {
    float: left;
    margin-left: 10px;
    width: 180px;
}

.quickViewInfo h2 {
    font-size: 12px;
    font-family: Arial,Verdana, sans-serif;
    color: #d25a36;
    margin: 0;
    padding: 0;
}

.quickViewInfo h3 {
    font-size: 11px;
    font-family: Arial,Verdana, sans-serif;
    color: #3d3d3d;
    margin: 0;
    padding: 8px 0 0 0;
}

.quickViewInfo p {
    font-size: 11px;
    font-family: Arial,Verdana, sans-serif;
    color: #3d3d3d;
    margin: 0;
    padding: 0;
}

.help-text {
    font-size: 10px;
    color: #999;
}

.cta, input[type='submit'], input[type='button'] {
    background-color: #119D49;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
}

.cta:hover, input[type='submit']:hover, input[type='button']:hover {
    background-color: #D05A36;
}

.big-btn {
	display: inline-block;
	margin-right: 10px;
	font-size: 12px;
	padding: 9px 25px;	
}

input[type='submit'].searchSubmit, input[type='submit'].headerSubmit, input[type='submit'].searchSubmit:hover, input[type='submit'].headerSubmit:hover {
    background-color: transparent;
}

.error_list {
    color: red;
}

.hasPlaceholder{
    color: #CCCCCC;
}

#travelerListSearch {
    width: 528px;
    background: transparent;
}

.facebookButton {
    background-color: #5F78AB;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 25px;
    color: #FFFFFF;
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.facebookButtonTable {
    border-collapse: collapse;
    border-spacing: 0px;
}

.facebookButtonLogo {
    background-image: url("../images/facebookLogos.png");
    background-position: 0px -80px;
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;
}


.facebookButtonBorder {
    border-bottom: 1px solid #1A356E;
    border-right: 1px solid #29447E;
    border-top: 1px solid #29447E;
    display: inline-block;
    padding-bottom: 2px;
}

.facebookButtonText {
    margin: 0px 0px 0px 0px;
    padding: 3px 8px 3px 8px;
    border-top: 1px solid #879AC0;
    display: inline-block;
    white-space: nowrap;
}

 @-moz-document url-prefix() {
    .facebookButtonText {
        margin: 0px 0px 0px 0px;
        padding: 2px 8px;
        border-top: 1px solid #879AC0;
        display: inline-block;
        white-space: nowrap;
    }
}

.facebookButton:active {
    background-color: #4F6AA3;
}

.facebookButton:active .facebookButtonText {
    border-top: 1px solid #50609C;
}

.facebookButton:active .facebookButtonLogo {
    background-position: 0px -107px;
    
}

.facebookButtonTable tbody tr td:last-child {
   float: left;
}    
 