/*
    Document   : rootlessme.css
    Created on : Mar 6, 2011, 1:44:43 PM
    Author     : awilliams
    Description:
        Stylesheet for the format of the rootlessme website.
*/


body {
    /*font-family: Verdana, Geneva, sans-serif;*/
    font-family: Arial, Geneva, sans-serif;
    font-size: 80%;
    margin: 0px;
    background-image: url("../images/headerBackground.jpg");
    background-repeat: repeat-x;
    background-color: #FFFFFF;
    color: #3D3D3D;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

textarea {
    font-family: Arial, Geneva, sans-serif;
    font-size: 100%;
    width: 150px;
}


.userInputForm {
    background-color: #F4F4F4;
    padding: 0px 10px 0px 0px;
    border: 1px solid transparent;
}

#container {
    width: 960px;
    margin-top: 0px;
    margin-left: auto ;
    margin-right: auto ;
    position: relative;
}

#bottomFeed {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    z-index: 1000;
}
#ridingNow {
    margin-left: 240px;
    padding-top: 4px;
}
#copyRight {
    color: #FFFFFF;
    float: right;
    padding: 5px 5px 0px 0px;
}
#containerFront {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow: hidden;

}

.home {

    background-image: none;
}

.home #container {
    
    overflow: hidden;
    width: auto;
}

.home #header {
    margin: 0 auto;
    min-width: 300px;
    max-width: 960px;
}

.home #content {
    
    padding-left: 5px;
}

.home #middleContentFront {
    
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
    
}


.home .signUpText tr {
    width: 190px;
    float: left;
    font-family: Arial;
    
}
.home .signUpText td,.home .signUpText th {
    
    width: 190px;
    clear: both;
    float: left;
    text-align: left;
}


.home .signUpText label{
    font-weight: normal;
    font-size: 14px;
}

.home .signUpText input{
    width: 190px;
    height: 16px;
    font-family: Arial;
    margin-bottom: 5px;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #444;
    
}

.opaqueBg {
    background-color: #1F141A;
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 2px;
    opacity: 0.4;
    padding: 10px;
    margin-left: -5px;
    width: 220px;
    min-height: 350px;
    max-height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    
}

.home #loginFormContainer {
    
    float: right;
    margin-right: 10px;
    position: fixed;
    right: 0;
    top: 0;
}

.home #loginFormContainer label {
    
    display:none;
}

.home #loginFormContainer label {
    
    display:none;
}

#backgroundImage {
    top:0;
    left:0;
   
   
}


#header {
    /*background: #333333;*/
    color: #FFFFFF;
    vertical-align: middle;
    height: 62px;
    position: relative;
    z-index: 1000;
}

#headerLogin {
    /*background: #333333;*/
    width: 960px;
    z-index: 1000;
}

#headerControls {
    float: right;
    vertical-align: bottom;
    position: absolute;
    bottom: 18px;
    right: 10px;
}

#headerSearchForm {
    position: absolute;
    bottom: 27px;
    margin: 0px 0px 0px 60px;
    display: inline;
}

#searchInput
{
    background-image: url("../images/searchBar.png");
    background-color: transparent;
    background-repeat: no-repeat;
    font-family: Arial;
    font-size: 12px;
    color: #ABABAB;
    font-weight: bold;
    border: none;
    outline: 0;
    height: 26px;
    width: 261px;
    padding: 0px 0px 0px 15px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#searchButton {
    border-width: 0px;
    margin: 0px;
    padding: 0px 5px 0px 8px;
    background: url(../images/magni_glass.png) transparent no-repeat top left;
    cursor: pointer;
    height: 24px;
}

.magnifyingIcon {
    background: url(../images/messageSmall.jpg) transparent no-repeat top left;
    height: 18px;
    width: 18px;
}


/* Menu CSS styling modelled after the example at
 * http://javascript-array.com/scripts/jquery_simple_drop_down_menu/
 */

#headerControlsList {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.headerControlsListItem {
    float: left;
    margin: auto;
    line-height: 35px;
    list-style: none;
}

.headerControl {
    color: #3D3D3D;
    text-decoration: none;
    margin: 0px 6px 0px 6px;
    display: block;
    white-space: nowrap;
    border: transparent 1px solid;
}

.headerControl:hover
{
    background: #EDEDED;
}

.headerControlsListSublist
{
    float: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    visibility: hidden;
}

.headerControlsListSublistItem
{
    float: none;
    display: block;
    background-color: #F4F4F4;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid;
    line-height: normal;
}

.headerSublistControl
{
    display: block;
    color: #3D3D3D;
    background: #F4F4F4;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.headerSublistControl:hover
{
    background: #EDEDED;
}


#headerLogo {
    border-width: 0;
}

#content {
    clear: both;
}

#leftColumn {
    width: 211px;
    float: left;
    background: #FFFFFF;
}

#navigation {
    margin: 45px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.navigationItem {
  list-style: none;
  color: #3D3D3D;
  font-weight: normal;
  font-size: 175%;
  height: 35px;
  text-align: left;
  margin: -2px 22px 0px 0px;
  padding: 0px 14px 2px 0px;
  background-image: url("../images/navigationBackground.jpg");
  background-repeat: no-repeat;
}

.navigationItemSelected {
  list-style: none;
  color: #3D3D3D;
  font-weight: normal;
  font-style: italic;
  font-size: 175%;
  height: 35px;
  text-align: left;
  margin: -2px 0px 0px 0px;
  padding: 0px 6px 2px 0px;
  background-image: url("../images/activeNav.png");
  background-repeat: no-repeat;
}

.navigationItemLink {
  padding: 4px 0px 0px 10px;
  color: #3D3D3D;
  display: block;
  width: 100%;
}

#leftContent {
    background-color: #F4F4F4;
    margin-top: 40px;
/*    background-image: url("../images/leftContentBackground.jpg");*/
    background-repeat: repeat-y;
    width: 159px;
    padding: 12px 12px 12px 12px;
}

#leftProfilePicture {
    font-weight: bold;
    float: left;
    margin: 0px 6px 6px 0px;
}

#leftProfileName {
    font-weight: bold;
}

#leftProfileLocation {
    font-style: italic;
    color: #119F49;
    font-weight: bold;
}

#leftProfileViewLink {
    font-style: italic;
    font-size: 80%;
    color: #3D3D3D;

}

.leftWidget {
    margin: 0px 0px 20px 0px;
    clear: both;
}

.leftWidgetTitle {
    font-weight: bold;
    font-size: 110%;
    margin: 0px 0px 0px 0px;
}

#leftActionsList {
    margin: 0;
    padding: 0;

}

.leftActionItem {
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftActionButton {
    background-image: url(../images/leftActionButtonBackground.JPG);
    width: 155px;
    height: 24px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0px;
}

#leftActivityList {
    margin: 0;
    padding: 0;
}

.leftActivityItem {
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftActivityLink {
    font-style: italic;
    color: #F55830;
    font-weight: bold;
    text-decoration: none;
}

#leftEventList {
    margin: 0;
    padding: 0;
}

.leftEventItem {
    clear: both;
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftEventName {
    color: #119F49;
    font-weight: bold;
    font-size: 110%;
    font-style: italic;
    margin: 4px 0px 4px 0px;
}

.leftEventLocation {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftEventDateImage {
    float: left;
    margin: 0px 6px 0px 0px;
}

#leftRideList {
    margin: 0;
    padding: 0;
}

.leftRideItem {
    clear: both;
    list-style: none;
    margin: 4px 0px 4px 0px;
    padding: 4px 0px 4px 0px;
}

.leftRideName {
    color: #119F49;
    font-weight: bold;
    font-size: 110%;
    font-style: italic;
    margin: 4px 0px 4px 0px;
}

.leftRideLocation {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftRideViewLink {
    color: #606060;
    font-weight: normal;
    font-style: italic;
    font-size: 80%;
    margin: 4px 0px 4px 0px;
}

.leftRideDateImage {
    float: left;
    margin: 0px 6px 0px 0px;
}

#rightColumn {
    width: 200px;
    float: right;
    background: #FFFFCC;
}

#middleContent {
    margin-left: 240px;
 /*   margin-right: 210px;*/
    margin-right: 10px;
    margin-top: 0px;
}

#middleContentFrontPage {
/*    margin-left: 240px;*/
 /*   margin-right: 210px;*/
    margin-right: 10px;
    margin-top: 0px;
}
#footer {
    clear: both;
    padding: 20px 0px 20px 0px;
}
#footerFront {
    margin-top: 100px;
    clear: both;
    padding: 20px 0px 20px 0px;
    color: #FFFFFF;
}

#footerFront:link {
    margin-top: 100px;
    clear: both;
    padding: 20px 0px 20px 0px;
    color: #FFFFFF;
}

#footerBar {
    color: #3D3D3D;
}


#loginFormContainer{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 240px;
    z-index: 1001;
}
#signUpFormContainer{
   
    padding: 10px 10px 10px 10px;
    color: #FFFFFF;
    position: relative;
    width: 250px;
    margin-top: 2px;
    font-weight: lighter;
}


.frontPageContent{
    padding: 0px 0px 0px 5px;
    margin-top: 10px;
    color: #404040;
    width: 400px;
}

.signUpText {
    color:#FFFFFF;
    position: relative;
    z-index: 10;
   display: block;
   margin-left: -7px;
}
.flash_notice {
    float: right;
}
.actionLink {
    color: #F55830;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

.seeMoreLink {
    color: #119F49;
    font-style: italic;
    margin: 0px 0px 0px 0px;
}

.locationLink{
    color: #119F49;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.dateBlockLarge {
    width: 55px;
    color: #FFFFFF;
    background-color: #606060;
    text-align: center;
}

.dateBlockMonth {
}

.dateBlockDate {
    font-weight: bold;
    font-style: italic;
    font-size: 180%;
    background-color: #303030;
}

.dateBlockTime {
    font-size: 80%;
}

.watermark {
    color: #606060;
}

.tableRow {
    background-color: #E3E3E3;
}

.tableAltRow {
    background-color: #FFFFFF;
}

.selectedRow {
    color: #FFFFFF;
    background-color: #393C39;
    cursor: pointer;
}

.tableLink {
    color: #3D3D3D;
}

.selectedRow  .tableLink {
    color: #FFFFFF;
}

.personLink {
    color: #119F49;
    font-style: italic;
}


/* jquery ui styling */

#middleProfileDetails.ui-state-default, #middleProfileDetails.ui-widget-content .ui-state-default, #middleProfileDetails.ui-widget-header .ui-state-default { 
    border: 0; 
    background: url(../../images/messageTabSprite.png) no-repeat;
    height: 18px; 
    width: 90px; 
    background-position: top left; 
    font-weight: normal; 
    color: #555555; 
}

#middleProfileDetails.ui-state-default a, #middleProfileDetails.ui-state-default a:link, #middleProfileDetails.ui-state-default a:visited { 
    color: #555555; 
    text-decoration: none; 
}
#middleProfileDetails.ui-state-hover, #middleProfileDetails.ui-widget-content .ui-state-hover, #middleProfileDetails.ui-widget-header .ui-state-hover, #middleProfileDetails.ui-state-focus, #middleProfileDetails.ui-widget-content .ui-state-focus, #middleProfileDetails.ui-widget-header .ui-state-focus{ 
    background: url(../../images/messageTabSprite.png) no-repeat; 
    background-position: 0px -18px; 
    font-weight: normal; 
    color: #212121; 
}
#middleProfileDetails.ui-state-hover a, #middleProfileDetails.ui-state-hover a:hover  { 
    color: #212121; 
    text-decoration: none; 
}
#middleProfileDetails.ui-state-active, #middleProfileDetails.ui-widget-content .ui-state-active, #middleProfileDetails.ui-widget-header .ui-state-active{ 
        background: url(../../images/messageTabSprite.png) no-repeat;
        background-position: bottom left; 
        font-weight: normal; 
        color: #E0E0E0; 
}
#middleProfileDetails.ui-state-active a, #middleProfileDetails.ui-state-active a:link, #middleProfileDetails.ui-state-active a:visited { 
        color: #E0E0E0; 
        text-decoration: none; 
}
#middleMessageDetails.ui-widget :active, #middleProfileDetails.ui-widget :active {color: #E0E0E0; outline: none; }


/* end jquery ui styling */


.headerSubmit {
    text-indent:  -9999px;
    background: url('../images/search_magni.png') no-repeat top left;
    height: 26px;
    width: 28px;
    outline: none;
    border: 0;
    margin-left: -39px;
    margin-top: 1px;
}

.headerSubmit:hover {
   background-position: bottom left;
   cursor: pointer;
}