/* 
    Document   : message.css
    Created on : Mar 16, 2011, 7:44:43 PM
    Author     : awilliams
    Description:
        This stylesheet formats the message pages of the rootlessme website.
*/


td {
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 6px 10px;
}

th {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

tr {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

thead {
    padding: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}

tbody {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#middleMessageDetails {
    clear: right;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.messageTable {
    clear: right;
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0px 10px 0px;
}

.messageListAuthorLink {
}

.messageListAuthorProfileImage {
    vertical-align: middle;
}

.messageUnread {
    font-weight: bold;
}

.messageBar {
    width: 100%;
    background-color: #303030;
    background-image: url(headerBackground.JPG);
    font-weight: bold;
    color: #FFFFFF;
    padding: 6px 6px 6px 6px;
    font-size: 120%;
}

.messageThread {
    float: left;
    width: 500px;
}

.message {
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.messageAuthorInformation {
    margin: 0px 0px 40px 0px;
    
}

.messageAuthorInformationReply {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 30px 0px;
    
}

.messageAuthorPicture {
    margin: 0px 0px 0px 40px;
    padding: 0px 0px 0px 0px;

}

.messageAuthorPictureReply {
    float: left;
    width: 33px;
    margin: 20px 0px 0px 70px;
    padding: 0px 0px 0px 0px;

}

.messageAuthorLink {
    color: #4D4D4D;
    float: left;
    padding-top: 5px;
    margin: 0px 0px 0px 0px;
}

.messageBody {
    clear: both;
    float: left;
    padding: 0px 0px 10px 0px;
    margin: -58px 0px 0px 110px;
    display: inline;
}

.messageDividerBar {
    clear:left;
    color: #F4F4F4;
}

.messageReplyBox {
    margin: 0px 0px 0px 30px;
}

/* Form styles */

.middleCreateForm {
    width: 500px;
}

.dateText {
    padding-bottom: 15px;
    font-size: 70%;
    float: left;
    
}


.messageButton {
    padding: 5px 5px 5px 5px;
    float: right;
    font-size: 120%;
    color: #FFFFFF;
    background-color: #119F49;
}


legend {
    background-color: #303030;
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 4px 0px 4px 0px;
}

fieldset {
    background-color: #EAEAEA;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.formLabelCell {
    vertical-align: top;
    text-align: right;
    font-weight: bold;
}

.formInputCell {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}

.middleFormInput {
    width: 100%;
}

.backtoListLink {
    float: right;
    color: #D25A36;
}


#middleMessageDetails ul {
    
    width: 100%;
    padding: 0;
    
}

#middleMessageDetails ul li {
    
    display: inline-block;
    width: 90px;
    height: 18px;
    list-style: none;
    margin-right: 3em;
}

#middleMessageDetails ul li a:link,#middleMessageDetails ul li a:visited {
    
    
    display:block;
    width: 90px;
    height: 16px;
    color: #555555; 
    padding-top: 2px;
    padding-left: 8px;
    background: url(../images/messageTabSprite.png) no-repeat top left;
    
    
    
}

#middleMessageDetails ul li a:hover {
    
    color: #212121; 
    background: url(../images/messageTabSprite.png) no-repeat;
    background-position: 0px -18px;
    
}

#middleMessageDetails ul li.selectedNav a {
    
    color: #E0E0E0; 
    background: url(../images/messageTabSprite.png) no-repeat;
    background-position: bottom left;
 
}

#contentBox {
    width: 100%;
    float:left;
    
}