/* 
    Document   : place
    Created on : Dec 15, 2012, 9:29:51 PM
    Author     : awilliams
    Description:
        Styles for the places pages
*/




#map {
    width: 400px;
    height: 230px;
}