/* 
    Document   : ride.css
    Created on : Mar 16, 2011, 7:44:43 PM
    Author     : awilliams
    Description:
        This stylesheet formats the ride pages of the rootlessme website.
*/

h1 {
    
}

#findARideFieldset {
    float: left;
    background-color: #EAEAEA;
}

#findARideForm {
    width: 250px;
    border: 1px solid;
    
}

legend {
    color: #3D3D3D;
    font-weight: bold;
}

label {
    position: relative;
}

.home .signUpText td,
 
td {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

th {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

tr {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

thead {
    padding: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}

tbody {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#rideTable {
    clear: right;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
}

#rideMapImage {
    width: 453px;
    height: 305px;
   /* float: right;*/
}

.rideListNotSelectedRow {
    background-color: #EAEAEA;
    height: 67px;
    padding: 0px 0px 0px 0px;
}

.rideListNotSelectedAltRow {
    background-color: #FFFFFF;
    height: 67px;
    padding: 0px 0px 0px 0px;
}



.rideListSelectedRow {
    background-color: #393C39;
    color: white;
    cursor: pointer;
}

.rideListSelectedRow .tableLink {
    color: white;
}

.rideListDriverCreatorProfileImage {
    vertical-align: middle;
}

.rideLocations {
    font-size: 70%;
    font-style: italic;
    color: #119D49;
}

.rideMiddleWord {
    font-size: 70%;
    font-weight: lighter;
}

.seatsAvailable {
    margin-top: 15px;
    float: left;
    clear: both;
    font-weight: bold;
    font-size: 100%;
    
}
.smokingPreference {
    font-size: 80%;
    margin: -15px 0px 0px 0px;
    font-style: italic;
}
.tripDistance {
    margin-left: 15px;
    float: left;
    font-weight: normal;
}
.tripValue {
    float: left;
    clear: both;
    font-weight: bold;
    font-size: 100%;
}

#mainRideDate {
    float: left;
    margin: 5px 0px 0px 0px;
}

#mainRideSummary {
    float: left;
    width: 300px;
    margin: 0px 0px 10px 0px;
}

#mainRideInformation {
    float: left;
    clear: both;
    margin-top: 15px;
    padding-right: 15px;
    
}

#mainRidePeople {  
    float: left;
    
}

#mainRideDetails {
    float: left;
	margin: 0px 0px 20px 10px;
	width: 50%;
    
}

#mainRideDetails h4, #mainRideDetails p span {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

#mainRideDetails h5 {
	font-style: italic;
	font-size: 14px;
	margin-bottom: 19px;
}

#mainRideDetails p {
	margin-top: 15px;
	margin-bottom: 15px;
}

#mainEventTitle {
    margin: 0px 0px 0px 70px;
    width: 100%;
}

.middleRidesFormArea {
    display: inline-block;
}

#map {
    width: 400px;
    height: 230px;
    float: right;
}


#rideProfileMap {
    width: 100%;
    height: 300px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

#informationContainer {
	position: relative;
    float: left;
	background: #F4F4F4;
	width: 100.4%;
}

#mainRidePeople .profileImageLink {
	display: block;
	margin: 20px;
}

.postedByStyles {
    margin: 0px;
    padding: 8px 0px 8px 10px;
    width: auto;
    font-weight: bold;
    font-size: 14px;
    background: #393C39;
    color: #fff;
}

.postedByStyles span{
	color: #119D49;
	font-style: italic;
}

.driverPicture {
    width: 270px;
    display: block;
}

#rideSearchForm input, #rideSearchForm select {
    
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideSearchForm th {
    padding:5px 10px 0px 10px;

}

#rideSearchForm td {
    padding:5px 10px 7px 10px;

}

#rideSearchForm th, #rideSearchForm td {
    clear:both;
    float:left;
}

#rideSearchForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

input[type="text"]:focus, textarea:focus {
   background-color: #ffffff;
   color: #000;
} 

#rideSearchForm input#rides_find:hover {
    
    
    background-color: #D14D2F;
}

.pendingListBlock {
	width: 97.4%;
	float: left;
	background: #F4F4F4;
	margin-bottom: 20px;
	padding-left: 20px;
}

.pendingListBlock .riderList {
	margin: 0;
}

.pendingListBlock .riderListItem {
	background: #fff;
	width: 190px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

.pendingListBlock .riderListItem a {
	display: block;
    float: left;
    padding: 10px;
}

.pendingListBlock .riderListItem:hover, .pendingListBlock .riderListItem.selectedUser {
	background: #2E2E2E;
}

.pendingListBlock .riderListItem.selectedUser  {
	border: 2px solid #119D49;
}

.pendingListBlock .riderListItem:hover p, .pendingListBlock .riderListItem.selectedUser p {
	color: #fff;
}

.pendingListBlock .riderListItem h3, .pendingListBlock .riderListItem img, .pendingListBlock .riderListItem p {
	float: left;
	font-style: normal;
	margin: 0;
}

.pendingListBlock .riderListItem h3, .pendingListBlock .riderListItem p {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	padding-left: 10px;
	width: 105px;
}

.pendingListBlock h3 {
	font-style: italic;
	font-size: 13px;
}

.riderListBlock
{
    clear: left;
    margin-left: 20px;
}

.riderListBlock h3 {
	margin-bottom: 5px;
}

.riderList
{
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    width: 100%;
    float: left;
}

.riderListItem {
	display: inline-block;
}

.riderListItem.selectedUser {
   /* background-color: #F1F1F1; */
}

#seatDetailsBlock {
    clear: left;
}
#seatEditBlock {
    clear: left;
}

#RequestMap {
    width: 400px;
    height: 210px;
    float: right;
}

.backtoListLink {
    margin-top: 15px;
    clear: both;
    float: left;
    color: #D05A36;
}

#rideRequestForm input, #rideRequestForm select {
    
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideRequestForm textarea {
    
    width: 215px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideRequestForm th {
    padding:5px 10px 0px 10px;

}

#rideRequestForm td {
    padding:5px 10px 7px 10px;

}

#rideRequestForm th, #rideRequestForm td {
    clear:both;
    float:left;
}

#rideRequestForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

#rideRequestForm input#rides_find:hover {
    
    
    background-color: #D14D2F;
}

#rideOfferForm input, #rideOfferForm select {
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideOfferForm textarea {
    
    width: 215px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}


#rideOfferForm th {
    padding:5px 10px 0px 10px;

}

#rideOfferForm td {
    padding:5px 10px 7px 10px;

}

#rideOfferForm th, #rideOfferForm td {
    clear:both;
    float:left;
}

#rideOfferForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

#rideOfferForm input#rides_find:hover {
    background-color: #D14D2F;
}

#negotiationSpinnerContainer{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
}

.seatNegotiationHistoryItem {
    font-size: 90%;
    padding-bottom: 17px;
    margin-bottom: 15px;
    background-color: #F4F4F4;
    position: relative;
    width: 700px;
}

.seatNegotiationHistoryItemCategory {
    font-weight: bold;
    font-size: 14px;
    color: #3D3D3D;
}

.seatNegotiationHistoryItemCategorySays {
    font-size: 14px;
    color: #3D3D3D;
}

ul {
    list-style-type: none;
}

.historyHr{
    width: 670px;
    color: #D9D9D9;
    background-color: #D9D9D9;
    height:2px;
}
.seatNegotiationHistoryUserImage {
    height: 100%;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
}

.seatNegotiationHistoryUserName {
    margin-left: 80px;
    font-style: italic;
    padding-top: 2px;
}

.seatNegotiationHistorySpecifics {
    margin-left: 40px;
    padding-right: 15px;
    line-height: 18px;
}

.seatNegotiationUserNameText {
    color:#119D49;
    font-weight: bold;
    font-size: 14px;
}

.seatNegotiationHistoryItemSpecificText {
    font-size: 14px;
    font-style: normal;
}

.seatNegotiationHistoryUpdateTime {
    font-size: 80%;
    color: #999;
    float: right;
    padding-right: 15px;
    right: 0px;
    bottom: 10px;
    position: absolute;
}

.seatNegotiationHistoryItemUserSays {
    padding-left: 15px;
    margin-left: 64px;
    display: inline;
    float: left;
    font-size: 14px;
}

.seatNegotiationHistoryItemUserSays span {
    font-weight: bold;
}


.negotationInstructions {
    color: #D14D2F;
    font-size: 80%;
    padding: 5px 15px 0px 15px;
}

#seatNegotiationForm input{
    width: 220px;
    font-size: 12px;
}

#seatNegotiationBlock {
    float: left;
}

#seatNegotiationForm td, #seatNegotiationForm th{
    clear: both;
}

#seatNegotiationForm th, #seatRequestForm th {
    text-align: right;
    padding-right: 5px;
}

#seatSpinnerContainer {
    position: absolute;
    top: 15px;
    left: 20px;
}

#seatNegotiationContainer {
    background-color: #F4F4F4;
    padding-bottom: 10px;
    position: relative;
}

#seatAcceptForm, #seatDeclineForm, #seatEditForm {
    display: inline-block;
    margin-right: 10px;
}
#seatFormButtons{
    float: left;
}

#seatAcceptForm {
    /*display: inline-block;*/
/*    position: absolute;*/
/*    left: 137px;*/

}

#seatAcceptForm input[type="submit"], #seatDeclineForm input[type="submit"], #seatEditForm input[type="button"] {
    width: 95px;
    height: 25px;
}
#saveTermsButton input[type="submit"], #cancelTermsButton input[type="button"]{
    width: 95px;
    height: 25px;
}

.addThisToolBar {
    float: left;
    margin: 6px 0px 10px 14px;
    width: 150px;
    height: 16px;
}

#seatNegotiationForm input#negotiateButton {
    width: 95px;
}

#newRideFormArea label {
    position: relative;
}

#newRideFormArea input[name="carpools[asking_price]"], #newRideFormArea input[name="passengers[asking_price]"] {
    padding-left: 12px;
    width: 163px;
}

label span.dollar-sign {
  position: absolute;
  top: 26px;
  left: 5px;
  font-weight: normal;
}

.rideActionButtonsList {
	margin: -5px 0px 0px -2px;
	padding: 0px;
	float: left;
	clear: both;
}

.editOfferBtn .rideActionButtonsList {
	margin: 5px 0px 0px -2px;
}

.rideActionButtonsListItem {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.negotiate-dollar-sign {
    left: 54px;
    position: absolute;
    font-weight: normal;
}

#seatDetailsBlock input {
    width: 220px;
}

#seatNegotiationContainer input[name="seats[price]"], #seatDetailsBlock #seats_price {
    width: 210px;
    padding-left: 11px;
}

#submit_seat {
    width: auto !important;
    float: right;
}

#seatDetails, #dualPost, #existingRequests, #rideDetails1, #rideDetails2, #discuss, #confirmation {
	display: none;
}

#negotiationBox{
    color: #7f7f7f;
    background-color: #f4f4f4;
    clear: both;
    padding: 20px;
}
#negotiationBox h3{
    color: #31A24A;
    font-weight: bold;
    font-style: italic;
    margin: 0px;
}
#negotiationBox h2{
    color: #2e2e2e;
    font-weight: bold;
    font-size: 108%;
    margin: 0px;
}

#dualPost{
    color: #000000;
    background-color: #f4f4f4;
}

#existingRequests{
    color: #000000;
    background-color: #f4f4f4;
}

#rideDetails1{
    color: #000000;
    background-color: #f4f4f4;
}
#rideDetails2{
    color: #000000;
    background-color: #f4f4f4;
}
#discuss{
    color: #000000;
    background-color: #f4f4f4;
}
#confirmation{
    color: #000000;
    background-color: #f4f4f4;
}

.dualYesOrNo{
    font-size: 200%;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    background-color: #999999;
    border: medium none;
    outline: medium none;
    padding: 2px 7px;
    cursor: pointer;
}

.unselectedLabel{
    background-color: #D9D9D9;
    color: #000000;
}

.unselectedLabel:hover{
    background-color: #555;
    color: #ffffff;
}

.selectedLabel{
    background-color: #119D49;
    color: #31A24A;
}
.Button{
    float: left;
    margin-right:20px;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 10px 10px;
    height:20px;
    background-color: #D9D9D9;
    color: #2e2e2e;
    cursor: pointer;
}
.Button:hover{
    background-color: #555;
    color: #ffffff;
}
.Button:active{
    background-color: #119D49;
}

.rideDetailsFields{
    width: 350px;
    margin: 5px 5px 15px 0px;
    padding: 5px;
    font-size: 95%;
    color: #31A24A;
    border-color: #E6E6E6;
    border-style: solid;
}
.editSeatFields{
    width: 100%;
    margin: 0px 5px 0px 0px;
    padding: 2px;
    font-size: 95%;
    color: #31A24A;
    border-color: #E6E6E6;
    border-style: solid;
}
.editSeatFieldsShort{
    width: 50px;
}
.editSeatFieldsMedium{
    width: 100px;
}
/*.rideDetailsFields input{
    width: 350px;
    margin: 5px 5px 15px 0px;
    padding: 5px;
    font-size: 110%;
}*/
.chatBox{
    width: 350px;
    margin: 5px 5px 15px 0px;
    padding: 5px;
    font-size: 110%;
}
.existingRequest{
    width: 350px;
    height: 64px;
    color: #000;
    background-color: #D9D9D9;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}
.existingRequest:hover{
    width: 350px;
    height: 64px;
    color: #FFF;
    background-color: #2D2D2D;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}
.existingRequestPicture{
    width: 54px;
    height: 54px;
    float: left;
    margin-right: 10px;
    background-color:#D14D2F;
}
.existingRequestName{
    color: #31A249;
    font-size: 120%;
}
.existingRequest:hover .existingRequestName{
    color: #DE7C5D;
}
.existingRequestPlaces{
    color: #000;
}
.existingRequest:hover .existingRequestPlaces{
    color: #fff;
}
.existingRequestDate{
    color: #000;
}
.existingRequest:hover .existingRequestDate{
    color: #fff;
}
.existingRequestArrow{
    float: right;
    color: #000;
    font-size: 20px;
}
.existingRequest:hover .existingRequestArrow{
    float: right;
    color: #fff;
    font-size: 20px;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 10px;
}
.plainText {
    color: #7a7a7a;
}

#seatList{
    background-color: #f4f4f4;
    float: left;
    margin: 0px 10px 20px 0px;
    width: 100.4%;
}
#seatList ul{
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}
.seat{
    background-color: #ffffff;
    float: left;
    width: 200px;
    height: 55px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.seatPicture{
    float: left;
    width:54px;
    height:54px;
    background-color: #99489c;
    margin-right: 10px;
}
.seatName{
    float: left;
    color: #119D49;
}
.seatPlaces{
    color: #000;
}
.seatListHeadline{
    color: #119D49;
    font-style: italic;
    font-weight: bold;
    margin: 20px 0px 10px 20px;
}

.removeBtn {
	cursor: pointer;
	color: #ccc;
    position: absolute;
    right: 15px;
    z-index: 100;
}

.removeBtn:hover {
    float: left;
	color: #222;
    margin-left: 37px;
}

#seatDetailsBlock2{
    background-color: #f4f4f4;
}
#largeUserPicture{
    background-color: #000;
}
#seatHistoryBlock{
    margin-top:20px;
    display: none;
    float: left;
}
#seatHistoryToggle{
    float: left;
    color: #FF6A4D;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
}

#seatHistoryToggle:hover {
    text-decoration: underline;	
}

#seatTerms{
    float: left;
    margin: 0 0 20px 30px;
    width: 50%;
}

#seatTerms h3, #editSeatTerms h3{
    margin-top: 0px;
}
#seatTerms h4, #seatTerms span{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

#editSeatTerms h4, #editSeatTerms span{
    font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

#seatTerms h5 {
	font-style: italic;
	font-size: 14px;
	margin-bottom: 19px;
}

#seatTerms p {
    font-size: 14px;
    font-weight: normal;
    margin: 13px 0;
}
#editSeatTerms{
    float: left;
    margin: 0 0 20px 30px;
    width: 50%;
}

#editSeatTerms textarea {
    
    width: 100%;
    padding: 2px;
    border: 2px solid #999;
    outline-color: #119D49;
    border-color: #E6E6E6;
    border-style: solid;
    color: #31A24A;
    display: inline-block;
}


#editSeatTerms p {
        font-size: 14px;
        font-weight: normal;
        margin: 6px 0 6px 0;
}

#seatUserBox{
    float: left;
}
#seatInfoPadder{
    margin: 10px;
}
#seatHistoryWhitespace{
    margin-top: 10px;
    float: left;
    width: 100.4%;
    height: 20px;
    background-color: #fff;
}
.noteSpanMod{
    margin-top: -10px;
}