/* 
    Document   : ride.css
    Created on : Mar 16, 2011, 7:44:43 PM
    Author     : awilliams
    Description:
        This stylesheet formats the ride pages of the rootlessme website.
*/

h1 {
    
}

#findARideFieldset {
    float: left;
    background-color: #EAEAEA;
}

#findARideForm {
    width: 250px;
    border: 1px solid;
    
}

legend {
    color: #3D3D3D;
    font-weight: bold;
}

label {
}

/*#findARideForm label {
    position: absolute;
    font-weight: bold;
    margin: 0px 10px 0px 0px;
    width: 130px;
    border: 1px solid;
}

#findARideForm input,
#findARideForm select {
    margin-left: 140px;
}*/

td {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

th {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 10px;
    text-align: left;
}

tr {
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}

thead {
    padding: 10px 10px 10px 10px;
    font-size: 120%;
    font-weight: bold;
    font-style: italic;
}

tbody {
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}

#rideTable {
    clear: right;
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
}

#rideMapImage {
    width: 453px;
    height: 305px;
   /* float: right;*/
}


.rideListNotSelectedRow {
    background-color: #EAEAEA;
    height: 67px;
    padding: 0px 0px 0px 0px;
}

.rideListNotSelectedAltRow {
    background-color: #FFFFFF;
    height: 67px;
    padding: 0px 0px 0px 0px;
}



.rideListSelectedRow {
    background-color: #393C39;
    color: white;
    cursor: pointer;
}

.rideListSelectedRow .tableLink {
    color: white;
}

.rideListDriverCreatorProfileImage {
    vertical-align: middle;
}

.rideLocations {
    font-style: italic;
    color: #119D49;
}

.rideMiddleWord {
    font-weight: lighter;
}

.seatsAvailable {
    font-weight: bold;
    font-size: 100%;
    
}
.smokingPreference {
    font-size: 80%;
    margin: -15px 0px 0px 0px;
    font-style: italic;
}
.tripDistance {
    font-weight: normal;
    margin-left: 72px;
}
.tripValue {
    font-weight: bold;
    font-size: 100%;
}

#mainRideDate {
    float: left;
    margin: 5px 0px 0px 0px;
}

#mainRideSummary {
    float: left;
    width: 300px;
    margin: 0px 0px 0px 0px;
}

#mainRideInformation {
    
}

#mainRidePeople {
    

    
    float: left;
    
}

#mainRideDetails {
    float: right;
    margin: 0px 0px 0px 0px;
    width: 400px;
    
}

#mainEventTitle {
    margin: 0px 0px 0px 70px;
}

.middleRidesFormArea
{
    display: inline-block;
    padding-left: 15px;
}

#map {
    width: 400px;
    height: 230px;
    float: right;
    /* Need to lower the z-index so the javascript menus appear over the map.
       Commented out because it disabled mouse control*/
/*    z-index: -1;*/
/*    margin-top: 50px;
    margin-bottom: 50px;*/
}



#rideProfileMap {
    width: 400px;
    height: 230px;
    float: right;
    /* Need to lower the z-index so the javascript menus appear over the map. 
       Commented out because it disabled mouse control*/
/*    z-index: -1;*/
    margin-bottom: 50px;
}

#informationContainer {
    clear: right;
    width: 280px;
}

.postedByStyles {
    margin: 0px 0px 0px 0px;
}

.driverPicture {
    width: 270px;
}

#rideSearchForm input, #rideSearchForm select {
    
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideSearchForm th {
    padding:5px 10px 0px 10px;

}

#rideSearchForm td {
    padding:5px 10px 7px 10px;

}

#rideSearchForm th, #rideSearchForm td {
    clear:both;
    float:left;
}

#rideSearchForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

#rideSearchForm input#rides_find:hover {
    
    
    background-color: #D14D2F;
}

.riderListBlock
{
    clear: left;
}

.riderList
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.riderListItem {
    margin: 4px 8px 4px 0px;
    padding: 4px 8px 4px 0px;
    float: left;
}

#seatDetailsBlock {
    clear: left;
}

#RequestMap {
    width: 400px;
    height: 210px;
    float: right;
    /* Need to lower the z-index so the javascript menus appear over the map.
       Commented out because it disabled mouse control*/
/*    z-index: -1;*/
/*    margin-top: 50px;
    margin-bottom: 50px;*/
}

.backtoListLink {
    margin-top: 15px;
    clear: both;
    float: left;
    color: #D05A36;
}

#rideRequestForm input, #rideRequestForm select {
    
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideRequestForm th {
    padding:5px 10px 0px 10px;

}

#rideRequestForm td {
    padding:5px 10px 7px 10px;

}

#rideRequestForm th, #rideRequestForm td {
    clear:both;
    float:left;
}

#rideRequestForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

#rideRequestForm input#rides_find:hover {
    
    
    background-color: #D14D2F;
}

#rideOfferForm input, #rideOfferForm select {
    
    width: 175px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px solid #999;
    outline-color: #119D49;
}

#rideOfferForm th {
    padding:5px 10px 0px 10px;

}

#rideOfferForm td {
    padding:5px 10px 7px 10px;

}

#rideOfferForm th, #rideOfferForm td {
    clear:both;
    float:left;
}

#rideOfferForm input#rides_find {
    
    width: 100px;
    height: 24px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border: 0px;
    background-color: #119D49;
}

#rideOfferForm input#rides_find:hover {
    
    
    background-color: #D14D2F;
}