/* 
    Document   : special.css
    Created on : July 6, 2011, 7:44:43 PM
    Author     : rwells
    Description:
        This stylesheet formats the special pages of the rootlessme website.
*/

#main{
    margin-left: 20%;    
    margin-right: 20%;
}
#socialLinks{
    float: left;
    margin-left: 45%;
    margin-top: 30px;
}
#headline{
    font-family: Arial;
    font-size: 400%;
    color: white;
    margin-top: 100px;
    font-weight: bold;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.6), 0 -1px 1px rgba(0, 0, 0, 0.6);
    line-height: 56px;
}
#formBox{
    background-color: rgba(0,0,0,0.60);
    padding: 20px 20px 20px 20px;
    margin-top: 10px;
    width:600px;
    filter: alpha(opacity=100);
}
#formButtons{

}
.formFields{
    padding: 5px;
    margin: 5px;
}
.orText{
    font-family: Arial;
    font-size: 140%;
    color: #fff; 
    display: inline-block;
    line-height: 36px;
    margin: 0px 10px 0px 10px;
}

#formFields{
    margin-bottom: 30px;
}
#formConfirmation{
    margin-bottom: 30px;
}
.boxCopy{
    font-family: Arial;
    font-size: 100%;
    color: #fff;
    font-weight: bold;
}
.boxHeader{
    font-family: Arial;
    font-size: 200%;
    color: #fff; 
    display: inline-block;
    line-height: 36px;
    margin-right: 10px;
}

#wantDrive{
    background-color: #119D49;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    outline: medium none;
    padding: 5px 10px;
}
#wantRide{
    background-color: #119D49;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    outline: medium none;
    padding: 5px 10px;
}
.driveOrRide{
    background-color: #999999;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    outline: medium none;
    padding: 2px 7px;
    font-size: 200%;
}

.unselectedLabel{
    background-color: #999999;
}

.unselectedLabel:hover{
    background-color: #555;
}

.selectedLabel{
    background-color: #119D49;
}
.formError{ 
    margin: 2px;
    color: #CC0000;
    font-family: Arial;
    font-size: 100%;
    
}